/*************************
 * Main Context Layout *
 ************************/
context {
    position: relative;
    background-color: var(--background-color);
    display: flex;
    margin: 30px 15px 15px 15px;
    flex-direction: column;
    align-items: flex-start !important;
}

context[class = "situation"] {
    border: 12px solid var(--context-color);
}

context[class = "stage"] {
    border: 6px solid var(--context-color);
    border-radius: 25px;
}

context[class = "move"] {
    border-left: 4px solid var(--context-color);
    border-radius: 25px;
}

context[class = "action"] {
    flex-direction: row;
    flex-wrap: wrap;
}

context[class = "stage"]:last-of-type,
context[class = "move"]:last-of-type,
context[class = "action"]:last-of-type {
    margin-bottom: 30px;
}

context[class = "situation"]:active::before,
context[class = "stage"]:active::before,
context[class = "move"]:active::before {
    position: absolute;
    /* horizontally center */
    transform: translateY(100%);
    /* move to left */
    bottom: 100%;
    padding: 5px;
    content: attr(id);
    background: var(--context-color);
    color: black;
}

context[class = "stage"]:active::before,
context[class = "move"]:active::before {
    border-radius: 15px 0px 0px 0px;
}