/**********
 * Colors *
 **********/
[class] {
    --color: black;
}

[class = "action"] {
    --color: var(--act-color);
}

[class = "speech_act"] {
    --color: var(--act-color);
}

[class = "predication"] {
    --color: var(--pred-color);
}

[class = "event"] {
    --color: var(--event-color);
}

[class = "abstraction"] {
    --color: var(--abstr-color);
}

[class = "description"] {
    --color: var(--desc-color);
}

[class = "definition"] {
    --color: var(--def-color);
}

[class = "selection"] {
    --color: var(--sel-color);
}

[class = "collation"] {
    --color: var(--coll-color);
}

[class = "association"] {
    --color: var(--assoc-color);
}

[class = "entity"] {
    --color: var(--ent-color);
}

[class = "circumstance"] {
    --color: var(--circ-color);
}

[class = 'action']::before,
[class = 'name']::before,
[class = 'category']::before,
[class = 'descriptive_quality']::before,
[class = 'associative_quality']::before,
[class = 'process']::before {
    color: white !important;
}
/***********
 * Modules *
 ***********/

module {
    position: relative;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    min-width: 70px;
    margin: 0px 3px;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 12px;
    border-top: 20px solid var(--color);
}

module[class = 'descriptive_quality'],
module[class= 'associative_quality'] {
    min-width: 130px;
}

module:not(:first-child) {
    margin-left: 10px;
}

module[class2 = "set"] {
    border-top: 12px dashed var(--color);
}

module[class2 = "operation"],
module[class2 = "option"] {
    border-top: 12px dotted var(--color);
}

wording[type = 'word'] module {
    margin: 0px;
    border: none;
    padding: 0px;
}

module:hover:before {
    position: absolute;
    /* vertical raise */
    transform: translateY(-32px);
    padding: 0px 2px;
    text-align: center;
    content: attr(class) attr(class2);
    background: var(--color);
    color: black;
}

module[class2]:hover:before {

    transform: translateY(-28px);
    border-radius: 15px;
    padding: 0px 15px;
}

wording > module {
    margin: 5px 10px;
}


/**************
 * Components *
 **************/

component {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

component:last-child {
    margin-right: 7px;
}

component[label]::before {
    margin-bottom: 10px;
    height: 20px;
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    padding: 2px 5px;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid var(--color);
    align-items: center;
    justify-content: center;
    content: attr(label);
    white-space: nowrap;
    color: #505050;
}

component[label][class2 = 'specification']::before {
    border: none;
    background: var(--color);
}
/**********
 * Values *
 **********/

module[values]:hover::before {
    position: absolute;
    display: flex;
    align-items: center;
    height: 16px;
    min-width: 100%;
    /* horizontally center */
    bottom: 100%;
    transform: translateX(-10px);
    /* move to left */
    /*right: 100%;*/
    z-index: 1;
    /* basic styles */
    margin-right: 5px;
    padding: 0px 15px;
    box-shadow: 0 3px 10px black;
    border-radius: 25px;
    background: var(--color);
    content: attr(values);
    text-align: center;
    text-wrap: nowrap;
    font-size: smaller;
    color: black;
}
/*****************
 * Discontinuity *
 ****************/

module[next] {
    flex-grow: 1;
}

component[next]::before {
    border-radius: 15px 0px 0px 0px;
    content: attr(label) ' …';
}

module[prev] {
    flex-grow: 1;
}

component[prev]::before {
    border-radius: 0px 15px 0px 0px;
    content: '… ' attr(label);
}

component[prev][next]::before {
    border-radius: 0px;
    content: '… ' attr(label) ' …';
}

*:not([next]) > *[next] {
    flex-grow: 1;
}

*:not([prev]) > *[prev] {
    flex-grow: 1;
}