:root {
    --sn-color: #B7B7B7; /*#696969*/
    --cl-color: pink;
    --vp-color: #d1e39c;
    --np-color: #d3d3d3;
    --adjp-color: #e6ccff;
    --advp-color: #e6ccff;
}
/**********
 * Colors *
 **********/

[label = "sn"] {
    background-color: var(--sn-color);
}

[label = "cl"] {
    background-color: var(--cl-color);
}

[label = "vp"] {
    background-color: var(--vp-color);
}

[label = "np"] {
    background-color: var(--np-color);
}

[label = "adjp"] {
    background-color: var(--adjp-color);
}

[label = "advp"] {
    background-color: var(--advp-color);
}
/*********
 * Units *
 *********/

unit {
    display: flex;
    margin: 20px 0px 20px 20px;
    min-width: 16px;
    min-height: 16px;
}

unit:last-child {
    margin-right: 20px;
}

unit[type = "configuration"] {
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
}

unit[type = "junction"] {
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px dotted gray;
    border-radius: 15px;
}

unit[type = "junctive_marking"],
unit[type = "translative_marking"] {
    flex-direction: row;
    margin: 15px;
    border: dotted gray;
    border-width: 1px 0px 0px 1px;
}

unit[type = "morphology"] {
    margin: 0px;
}
/*************
 * Components *
 *************/

component,
extraction {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 50px;
}

component[status = "core"],
component[status = "argument"],
extraction {
    align-self: stretch;
    align-items: flex-start;
    justify-content: center;
    padding: 36px 15px 0px 15px;
    border-right: 1px solid gray;
}

component[status = "core"]:last-child,
component[status = "argument"]:last-child,
extraction:last-child {
    border-right: none;
}

component[status = "core"][label]:before,
component[status = "argument"][label]:before,
extraction::before {
    position: absolute;
    display: block;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -26px);
    padding: 2px 4px;
    color: gray;
}

component[status = "core"][label]:before {
    content: attr(label);
}

component[status = "argument"][label]::before,
extraction::before {
    border: solid gray;
    border-width: 0px 1px 0px 1px;
    border-radius: 7px;
    content: attr(label);
}

component[status = "adjunct"] {
    margin: 20px;
    border-radius: 25px;
    border: 3px dotted white;
}
/*component[status = "adjunct"][label]:before {
    left: 50%;
    transform: translate(-50%, -26px);
    padding: 2px 4px;
    color: gray;
}*/

component[status = "path"] {
    align-self: stretch;
    border-bottom: 1px dotted gray;
    padding-left: 24px;
}

component[status = "path"]:last-child {
    border-bottom: none;
}

component[status = "path"][label]::before {
    position: absolute;
    display: block;
    padding: 2px 4px;
    top: 50%;
    transform: translate(-100%, -50%);
    text-align: center;
    content: attr(label);
    color: gray;
}

component[status = "translative"],
component[status = "junctive"] {
    align-self: flex-start;
    justify-content: center;
    padding-top: 24px;
    border: dotted gray;
    border-width: 0px 1px 1px 0px;
    border-radius: 0px 0px 5px 0px;
}

component[status = "translative"][label]::before,
component[status = "junctive"][label]::before {
    position: absolute;
    display: block;
    padding: 2px 4px;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    content: attr(label);
    color: gray;
}
/* To prevent discontinuity labels from appearing. */

component[status = "scope"]::before {
    display: none;
}
/***************
 * Extractions *
 ***************/

extraction::before {
    content: "⇡";
}

extracted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    box-shadow: 0px 0px 20px 10px gray;
}

extracted::before {
    content: "⇣";
    display: block;
    text-align: center;
    border: solid gray;
    border-width: 0px 1px 0px 1px;
    border-radius: 7px;
    color: gray;
}
/*****************
 * Discontinuity *
 ****************/

unit[type = "configuration"][prev] {
    align-self: stretch;
    border-left-style: dashed;
    border-radius: 0px 15px 15px 0px;
}

unit[type = "configuration"][next] {
    align-self: stretch;
    border-right-style: dashed;
    border-radius: 15px 0px 0px 15px;
}

unit[type = "configuration"][prev][next] {
    border-radius: 0px;
}

component[status = "path"][label][next],
component[status = "path"][label][prev] {
    padding-left: 48px;
}

component[status = "path"][label][next][prev] {
    padding-left: 56px;
}

unit[type = "junctive_marking"][prev],
unit[type = "translative_marking"][prev] {
    align-self: stretch;
    border-radius: 0px 15px 15px 0px;
}

unit[type = "junctive_marking"][next],
unit[type = "translative_marking"][next] {
    align-self: stretch;
    border-radius: 15px 0px 0px 15px;
}

unit[type = "junctive_marking"][prev][next],
unit[type = "translative_marking"][prev][next] {
    border-radius: 0px;
}

component[status = "core"][prev]::before,
component[status = "argument"][prev]::before {
    content: '… ' attr(label) !important;
    text-wrap: nowrap;
}

component[status = "core"][next]::before,
component[status = "argument"][next]::before {
    content: attr(label) ' …' !important;
    text-wrap: nowrap;
}

component[status = "core"][prev][next]::before,
component[status = "argument"][prev][next]::before {
    content: '… ' attr(label) ' …' !important;
    text-wrap: nowrap;
}