@font-face {
    font-family: sbl_greekregular;
    src: url(sbl_grk-webfont.woff2) format('woff2'), url(sbl_grk-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --context-color: #ff8080; /*#ffc966*/
    --act-color: pink;
    --pred_act-color: #ffff33;
    --gen-color: #cce6ff;
    --event-color: #d1e39c;
    --def-color: #e6ccb3;
    --trait-color: #f0dece;
    --icoll-color: #e6ccff;
    --ecoll-color: #e6ccff;
    --circ-color: #d8605a; /*cf3830 ffcccc*/
    --ent-color: #996633; /*ac7339*/
    --mod_pred-color: #ffff33;
    --nmod_pred-color: #ffff33;
    --scen-color: #ffff33;
}

/*************************
 * Main (Con)text Layout *
 ************************/

OpenText {
    background-color: #ffffff;
    color: #000000;
    font-family: sbl_greekregular, serif;
}

header {
    display: none;
}

text {
    display: flex;
}

context {
    display: flex;
    padding: 15px;
    border-radius: 35px;
}

context[class = "situation"],
context [class = "stage"] {
    flex-direction: column;
    align-items: flex-start !important;
}

context[class = "situation"] {
    margin: 15px;
    border: 12px solid #ff8080;
}

context[class = "stage"] {
    margin-bottom: 15px;
    border: 8px solid #ff8080;    
}

context[class = "stage"][title]::before {
    align-self: flex-start;
    width: 200px;
    content: attr(title);
    margin: 10px;
    padding: 10px;
    border: 4px solid #ff8080;
    border-radius: 10px;
    background: white;
    color: black;
    text-align: center;
}

context[class = "move"] {
    flex-direction: row;
    align-items: center;
    margin: 25px 0px !important;
    border: 4px solid #ff8080;
}

context[class = "move"][id]::before { 
    width: 200px;
    margin-right: 15px;
    content: attr(id);
    padding: 10px;
    border: 2px solid #ff8080;
    border-radius: 10px;
    background: white;
    color: black;
    text-align: center;
}

/*****************************
 * Layout for Other Elements *
 *****************************/

v,
v2,
path,
ellipsis,
error {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ellipsis {
    border: 2px dotted black;
    border-radius: 35px;
    min-height: 20px;
    min-width: 40px;
}

error {
    position: relative;
    padding: 10px;
    border: 4px solid red;
    border-radius: 35px;
}

/**********
 * Tokens *
 **********/

token {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px 0px 7px 7px;
    border-radius: 25px;
    justify-content: center;
    white-space: nowrap;
}

token:first-child {
    margin-left: 7px;
}

token:last-child {
    margin-right: 7px;
}

greek::before {
    content: attr(before)
}

greek::after {
    content: attr(after)
}

english {
    color: silver;
}