@font-face {
    font-family: sbl_greekregular;
    src: url(sbl_grk-webfont.woff2) format('woff2'), url(sbl_grk-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/***************
 * Main Layout *
 ***************/

OpenText {
    background-color: #ffffff;
    color: #000000;
    font-family: sbl_greekregular, serif;
}

header {
    display: none;
}

text {
    display: flex;
}


/***********************
 * Layout for Analysis *
 ***********************/

v,
v2,
error {
    display: flex;
    flex-direction: row;
}

error {
    position: relative;
    padding: 10px;
    border: 4px solid red;
    border-radius: 35px;    
    align-items: center;
}

/**********
 * Tokens *
 **********/

token {
    display: inline-flex;
    align-items: center;
    margin: 7px 0px 7px 7px;
    border-radius: 25px;
    justify-content: center;
}

token:last-child {
    margin-right: 7px;
}

token::before {
    content: attr(before);
}

token::after {
    content: attr(after);
}

token[gloss_berean]:hover {
    visibility: hidden;
    position: relative;
}

token[gloss_berean]:hover::before {
    display: inline-flex;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: attr(gloss_berean);
}

token[gloss_berean]:hover::after {
    display: none;
}


/************
 * Ellipsis *
 ************/

ellipsis {
    display: flex;
    flex-direction: row;
    border: 2px dotted black;
    border-radius: 35px;
    min-height: 20px;
    min-width: 40px;    
    align-items: center;
}