@font-face {
    font-family: sbl_greekregular;
    src: url(sbl_grk-webfont.woff2) format('woff2'), url(sbl_grk-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --context-color: #D3D3D3;
}

/*************************
 * Main (Con)text Layout *
 ************************/

OpenText {
    background-color: #ffffff;
    color: #000000;
    font-family: sbl_greekregular, serif;
}

header {
    display: none;
}

text {
    display: flex;
}

context {
    display: flex;
    padding: 15px;
}

context[class = "situation"],
context [class = "stage"],
context [class = "action"] {
    flex-direction: column;
    align-items: flex-start;
}

context[class = "situation"] {
    margin: 15px;
    border: 12px solid var(--context-color);
}

context[class = "stage"] {
    margin: 15px;
    border: 8px solid var(--context-color);    
}

context[class = "stage"][title]::before {
    align-self: flex-start;
    margin: 15px; 
    content: attr(title);
    padding: 10px;
    border: 4px solid var(--context-color);
    background: white;
    color: var(--context-color);
    text-align: center;
}

context[class = "action"] {   
    margin: 15px !important; /*The !important flag keeps sentences spaced vertically even when contexts are not being shown.*/ 
    border: 4px solid var(--context-color);
}

context[class = "action"][id]::before {     
    margin: 15px;    
    content: attr(id);
    padding: 10px;
    border: 2px solid var(--context-color);
    background: white;
    color: var(--context-color);
    text-align: center;
}

/****************************
 * Layout for Misc Elements *
 ****************************/

v,
v2,
ellipsis,
error {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ellipsis {
    border: 2px dotted black;
    border-radius: 35px;
    min-height: 20px;
    min-width: 40px;
}

error {
    position: relative;
    padding: 10px;
    border: 4px solid red;
    border-radius: 35px;
}

/**********
 * Tokens *
 **********/

token {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px 0px 7px 7px;
    border-radius: 25px;
    padding: 5px;
    justify-content: center;
    white-space: nowrap;
}

token:first-child {
    margin-left: 7px;
}

token:last-child {
    margin-right: 7px;
}

greek::before {
    content: attr(before)
}

greek::after {
    content: attr(after)
}

english {
    color: silver;
}