@font-face {
    font-family: sbl_greekregular;
    src: url(sbl_grk-webfont.woff2) format('woff2'), url(sbl_grk-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --context-color: #D3D3D3;
}

/*************************
 * Main (Con)text Layout *
 ************************/

OpenText {
    background-color: #f2f2f2;
    color: #000000;
    font-family: sbl_greekregular, serif;
}

header {
    display: none;
}

text {
    display: flex;
}

context {
    display: flex;
    padding: 15px;
}

context[class = "situation"],
context [class = "stage"],
context [class = "action"] {
    flex-direction: column;
    align-items: flex-start !important;
}

context[class = "situation"] {
    margin: 15px;
    border: 12px solid var(--context-color);
}

context[class = "stage"] {
    margin-bottom: 15px;
    border: 8px solid var(--context-color);    
}

context[class = "stage"][title]::before {
    align-self: flex-start;
    width: 200px;
    content: attr(title);
    margin: 10px;
    padding: 10px;
    border: 4px solid var(--context-color);
    background: white;
    color: var(--context-color);
    text-align: center;
}
/*
context[class = "action"] {   
    margin: 25px 0px !important;
    border: 4px solid var(--context-color);
}*/

context[class = "action"][id]::before { 
    width: 200px;
    margin-right: 15px;
    content: attr(id);
    padding: 10px;/*
    border: 2px solid var(--context-color);*/
    background: white;
    color: var(--context-color);
    text-align: center;
}

/****************************
 * Layout for Misc Elements *
 ****************************/

v,
v2,
ellipsis,
error {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ellipsis {
    border: 2px dotted black;
    border-radius: 35px;
    min-height: 20px;
    min-width: 40px;
}

error {
    position: relative;
    padding: 10px;
    border: 4px solid red;
    border-radius: 35px;
}

/**********
 * Tokens *
 **********/

token {
    display: inline-flex;
    align-items: center;
    margin: 7px 0px 7px 7px;
    border-radius: 25px;
    justify-content: center;
}

token:last-child {
    margin-right: 7px;
}

token::before {
    content: attr(before);
}

token::after {
    content: attr(after);
}

token[gloss_berean] {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    justify-content: center;
}

token[gloss_berean]::before {
    content: none;
}

token[gloss_berean]::after {
    content: attr(gloss_berean);
}