:root {
    --speech-color: orange;
    --act-color: pink;
    --pred_act-color: #ffee33;
    --abstr-color: #cce6ff;
    --event-color: #d1e39c;
    --def-color: #b89c81;
    --trait-color: #e7ded5;
    --icoll-color: #e6ccff;
    --ecoll-color: #e6ccff;
    --circ-color: #d8605a; /*cf3830 ffcccc*/
    --ent-color: #895b2d; /*ac7339*/
    --pred_mod-color: #ffee33;
    --pred-color: #ffee33;
    --scen-color: #ffee33;
}


/**********
 * Colors *
 **********/

context {
    --color: var(--context-color);
}

[class = "speech"] {
    --color: var(--speech-color);
}

[class = "speech_act"] {
    --color: var(--act-color);
}

[class = "predication_active"] {
    --color: var(--pred_act-color);
}

[class = "abstraction"] {
    --color: var(--abstr-color);
}

[class = "event"] {
    --color: var(--event-color);
}

[class = "definition"] {
    --color: var(--def-color);
}

[class = "trait"] {
    --color: var(--trait-color);
}

[class = "intrinsic_collation"] {
    --color: var(--icoll-color);
}

[class = "circumstance"] {
    --color: var(--circ-color);
}

[class = "extrinsic_collation"] {
    --color: var(--ecoll-color);
}

[class = "entity"] {
    --color: var(--ent-color);
}

[class = "predication_modal"] {
    --color: var(--pred_mod-color);
}

[class = "predication"] {
    --color: var(--pred-color);
}

[class = "scenario"] {
    --color: var(--scen-color);
}


/***********
 * Modules *
 ***********/

module {
    position: relative;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}

module:not(:last-child) {
    margin-right: 5px;
}

/* To eliminate borders for lexical classes, so users can focus on syntactic wordings. */
module[pos] {
    border: none !important;
    box-shadow: none !important;
    margin: 0px !important;
}

module[subclass = "activation"] {
    margin: 10px;
    box-shadow: 0 0 3px 3px var(--color);
}

module[subclass = "re-construal"],
module[subclass = "set"] {
    border: 2px dashed var(--color);
}

module[subclass = "connection"],
module[subclass = "operation"],
module[subclass = "option"] {
    border: 2px dotted var(--color);
}

module[subclass = "specification"] {
    border: 3px solid var(--color);
}

/*************
 * Functions *
 *************/

function {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

*:hover > function {
    margin: 7px 0px 7px 7px;
}

*:hover > function:first-child {
    margin-left: 7px;
}

*:hover > function:last-child {
    margin-right: 7px;
}

*:hover > function::before {
    margin-bottom: auto;
    height: 20px;
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    padding: 2px 5px;
    border-radius: 15px 15px 0px 0px;
    background: var(--color);
    align-items: center;
    justify-content: center;
    content: attr(label);
    color: #505050;
}

*:hover > function::after {
    margin-top: auto;
    height: 20px;
    display: flex;
    padding: 2px 5px;
    content: attr(none);
}


/**********
 * Values *
 **********/

module[values]:active::before {
    position: absolute;
    /* horizontally center */
    top: 50%;
    transform: translateY(-50%);
    /* move to left */
    right: 100%;
    /* basic styles */
    margin-right: 5px;
    padding: 15px;
    box-shadow: 0 3px 10px black;
    border-radius: 25px;
    background: var(--color);
    content: attr(values);
    text-align: center;
    white-space: pre-line;
    color: black;
}


/*****************
 * Discontinuity *
 ****************/

module[next] {
    align-self: stretch !important;
    border-radius: 20px 0px 0px 20px;
}

module[subclass = "specification"][next] {
    border-right-style: dashed;
}

*:hover > function[next]::before {    
    border-radius: 15px 0px 0px 0px;    
    content: attr(label) ' …';
}

module[prev] {
    align-self: stretch !important;
    border-radius: 0px 20px 20px 0px;
}

module[subclass = "specification"][prev] {
    border-left-style: dashed;
}

*:hover > function[prev]::before {    
    border-radius: 0px 15px 0px 0px;    
    content: '… ' attr(label);
}

module[prev][next] {
    border-radius: 0px;
}

*:hover > function[prev][next]::before {    
    border-radius: 0px;    
    content: '… ' attr(label) ' …';
}

*:not([next]) > *[next] {
    align-self: stretch;
}

*:not([prev]) > *[prev] {
    align-self: stretch;
}