/**********
 * Colors *
 **********/

[class ^= "speech_act"] {
    --color: var(--act-color);
}

[class ^= "predicating_act"] {
    --color: var(--pred_act-color);
}

[class ^= "generalization"] {
    --color: var(--gen-color);
}

[class ^= "event"] {
    --color: var(--event-color);
}

[class ^= "definition"] {
    --color: var(--def-color);
}

[class ^= "trait"] {
    --color: var(--trait-color);
}

[class ^= "intrinsic_collation"] {
    --color: var(--icoll-color);
}

[class ^= "circumstance"] {
    --color: var(--circ-color);
}

[class ^= "extrinsic_collation"] {
    --color: var(--ecoll-color);
}

[class ^= "entity"] {
    --color: var(--ent-color);
}

[class ^= "modal_predication"] {
    --color: var(--mod_pred-color);
}

[class ^= "non-modal_predication"] {
    --color: var(--nmod_pred-color);
}

[class ^= "scenario"] {
    --color: var(--scen-color);
}


/***********
 * Modules *
 ***********/

module,
module2 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

module:not(:last-child),
module2:not(:last-child) {
    margin-right: 5px;
}


/***********
 * Borders *
 ***********/

module {
    margin: 10px;
    box-shadow: 0 0 10px var(--color);
    border-radius: 35px;
}

/* To eliminate borders for particular module classes, usually because they are lexical and so words rather than wordings. */
[class ^= "move"],
[class ^= "process"],
[class ^= "name"],
[class ^= "category"],
[class ^= "intrinsic_qualitative_scale"],
[class ^= "extrinsic_qualitative_scale"] {
    border: none !important;
    box-shadow: none !important;
    margin: 0px !important;
}

module2 {
    border: 3px solid var(--color);
    border-radius: 35px;
}

[class $= "+connection"], [class $= "+re-construal"], [class $= "+set"], [class $= "+operation"] {
    border-style: hidden;
    padding: 5px;
}

[class $= "+connection"], [class $= "+operation"] {  
    padding: 5px;
}


/*/\**********
 * Labels *
 **********\/

context > * {
    --label-color: var(--context-color);
}

module[class = "speech_act"] > * {
    --label-color: var(--act-color);
}

module[class = "predicating_act"] > * {
    --label-color: var(--pred_act-color);
}

module[class = "generalization"] > * {
    --label-color: var(--gen-color);
}

module[class = "event"] > * {
    --label-color: var(--event-color);
}

module[class = "definition"] > * {
    --label-color: var(--def-color);
}

module[class = "trait"] > * {
    --label-color: var(--trait-color);
}

module[class = "intrinsic_collation"] > * {
    --label-color: var(--icoll-color);
}

module[class = "circumstance"] > * {
    --label-color: var(--circ-color);
}

module[class = "extrinsic_collation"] > * {
    --label-color: var(--ecoll-color);
}

module[class = "entity"] > * {
    --label-color: var(--ent-color);
}

module[class = "modal_predication"] > * {
    --label-color: var(--mod_pred-color);
}

module[class = "non-modal_predication"] > * {
    --label-color: var(--nmod_pred-color);
}

module[class = "scenario"] > * {
    --label-color: var(--scen-color);
}

module[function]:not(:active):hover::before {
    content: attr(function);
    position: absolute;
    /\* horizontally center *\/
    top: 50%;
    transform: translateY(-50%);
    /\* move to left *\/
    right: 100%;
    /\* basic styles *\/
    padding: 10px;
    border-radius: 50px 0px 0px 50px;
    background: var(--label-color);
    text-align: center;
    color: black;
}
*/

/**********
 * Values *
 **********/

module[values]:active::before,
module2[values]:active::before{
    position: absolute;
    /* horizontally center */
    top: 50%;
    transform: translateY(-50%);
    /* move to left */
    right: 100%;
    /* basic styles */
    margin-right: 5px;
    padding: 15px;
    box-shadow: 0 3px 10px black;
    border-radius: 25px;
    background: var(--color);
    content: attr(values);
    text-align: center;
    white-space: pre-line;
    color: black;
}



/*****************
 * Discontinuity *
 ****************/

module[next],
module2[next] {
    align-self: stretch !important;
    border-radius: 35px 0px 0px 35px;
    border-right-style: dashed;
}

module[prev],
module2[prev] {
    align-self: stretch !important;
    border-radius: 0px 35px 35px 0px;
    border-left-style: dashed;
}

module[next][prev],
module2[next][prev] {
    border-radius: 0px;
}

*:not([next]) > *[next] {
    align-self: stretch;
}

*:not([prev]) > *[prev] {
    align-self: stretch;
}