:root {
    --utter-color: pink;
    --act-color: orange; /* pink */
    --pred-color: #ffee33;
    --prop-color: #ffee33; /* cce6ff */
    --absol-color: #ffee33;
    --scen-color: #ffee33;    
    --event-color: #cce6ff; /* d1e39c */
    --def-color: #895b2d; /* b89c81 d8605a */
    --def_part-color: #b89c81; /* e7ded5 */
    --coll_d-color: #e6ccff;    
    --assoc-color: #d8605a; /* #d8605a cf3830 ffcccc*/
    --coll_a-color: #e6ccff;
    --ent-color: #667049; /* d1e39c ac7339*/
    --abstr-color: #d1e39c; /* 895b2d cce6ff */
}


/**********
 * Colors *
 **********/

context {
    --color: var(--context-color);
}

[class = "utterance"] {
    --color: var(--utter-color);
}

[class = "speech_act"] {
    --color: var(--act-color);
}

[class = "predication"] {
    --color: var(--pred-color);
}

[class = "proposition"] {
    --color: var(--prop-color);
}

[class = "absolute"] {
    --color: var(--absol-color);
}

[class = "scenario"] {
    --color: var(--scen-color);
}

[class = "event"] {
    --color: var(--event-color);
}

[class = "definition"] {
    --color: var(--def-color);
}

[class = "definition_part"] {
    --color: var(--def_part-color);
}

[class = "descriptive_collation"] {
    --color: var(--coll_d-color);
}

[class = "association"] {
    --color: var(--assoc-color);
}

[class = "associative_collation"] {
    --color: var(--coll_a-color);
}

[class = "entity"] {
    --color: var(--ent-color);
}

[class = "abstraction"] {
    --color: var(--abstr-color);
}


/***********
 * Modules *
 ***********/

module {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

module:not(:first-child) {
    margin-left: 10px;
}

wording > module {
    margin: 0px 10px;
}

module[subclass = "activation"] {
    padding-top: 12px;
    border-top: 2px dashed var(--color);
}

module[subclass = "re-construal"],
module[subclass = "set"] {
    padding-top: 12px;
    border-top: 4px double var(--color);
}

module[subclass = "connection"],
module[subclass = "operation"],
module[subclass = "option"] {
    padding-top: 12px;
    border-top: 4px dotted var(--color);
}

module[subclass = "specification"] {
    padding-top: 12px;
    border-top: 8px solid var(--color);
}

/* To eliminate borders for lexical classes, so users can focus on syntactic wordings. */
module[subclass = "lexicalization"] {
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

/*************
 * Functions *
 *************/

function {
    /*align-self: stretch;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    margin: 7px 0px 7px 7px;
}

function:last-child {
    margin-right: 7px;
}

function::before {
    /*margin-bottom: auto;*/
    height: 20px;
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    padding: 2px 5px;
    border-radius: 15px 15px 0px 0px;
    background: var(--color);
    align-items: center;
    justify-content: center;
    content: attr(label);
    color: #505050;
}

/* This keeps the text vertically centered and hence in line. */
function::after {
    /*margin-top: auto;*/
    height: 20px;
    display: flex;
    padding: 2px 5px;
    content: attr(none);
}


/**********
 * Values *
 **********/

module[values]:active::before {
    position: absolute;
    display: flex;
    align-items: center;
    height: 12px;
    min-width: 100%;
    /* horizontally center */
    bottom: 100%;
    transform: translateX(-10px);
    /* move to left */
    /*right: 100%;*/
    z-index: 1;
    /* basic styles */
    margin-right: 5px;
    padding: 0px 15px;
    box-shadow: 0 3px 10px black;
    border-radius: 25px;
    background: var(--color);
    content: attr(values);
    text-align: center;
    text-wrap: nowrap;
    font-size: smaller;
    color: black;
}


/*****************
 * Discontinuity *
 ****************/

module[next] {
    flex-grow: 1;
}

function[next]::before {
    content: attr(label) ' …';
}

module[prev] {
    flex-grow: 1;
}

function[prev]::before {
    content: '… ' attr(label);
}

function[prev][next]::before {
    content: '… ' attr(label) ' …';
}

*:not([next]) > *[next] {
    flex-grow: 1;
}

*:not([prev]) > *[prev] {
    flex-grow: 1;
}