:root {
    --speech-color: orange;
    --act-color: pink;
    --pred_act-color: #ffee33;
    --abstr-color: #cce6ff;
    --event-color: #d1e39c;
    --def-color: #b89c81;
    --trait-color: #e7ded5;
    --icoll-color: #e6ccff;
    --ecoll-color: #e6ccff;
    --circ-color: #d8605a; /*cf3830 ffcccc*/
    --ent-color: #895b2d; /*ac7339*/
    --pred_mod-color: #ffee33;
    --pred-color: #ffee33;
    --scen-color: #ffee33;
}


/**********
 * Colors *
 **********/

context {
    --color: var(--context-color);
}

[class = "speech"] {
    --color: var(--speech-color);
}

[class = "speech_act"] {
    --color: var(--act-color);
}

[class = "predication_active"] {
    --color: var(--pred_act-color);
}

[class = "abstraction"] {
    --color: var(--abstr-color);
}

[class = "event"] {
    --color: var(--event-color);
}

[class = "definition"] {
    --color: var(--def-color);
}

[class = "trait"] {
    --color: var(--trait-color);
}

[class = "intrinsic_collation"] {
    --color: var(--icoll-color);
}

[class = "circumstance"] {
    --color: var(--circ-color);
}

[class = "extrinsic_collation"] {
    --color: var(--ecoll-color);
}

[class = "entity"] {
    --color: var(--ent-color);
}

[class = "predication_modal"] {
    --color: var(--pred_mod-color);
}

[class = "predication"] {
    --color: var(--pred-color);
}

[class = "scenario"] {
    --color: var(--scen-color);
}


/***********
 * Modules *
 ***********/

module {
    position: relative;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
}

module:not(:first-child) {
    margin-left: 10px;
}

wording > module {
    margin: 0px 10px;
}

/* To eliminate borders for lexical classes, so users can focus on syntactic wordings. */
module[pos] {
    border: none !important;
    margin: 0px !important;
}

module[subclass = "activation"] {
    padding-top: 12px;
    border-top: 3px dashed var(--color);
}

module[subclass = "re-construal"],
module[subclass = "set"] {
    padding-top: 12px;
    border-top: 3px dotted var(--color);
}

module[subclass = "connection"],
module[subclass = "operation"],
module[subclass = "option"] {
    padding-top: 12px;
    border-top: 3px dotted var(--color);
}

module[subclass = "specification"] {
    padding-top: 12px;
    border-top: 10px solid var(--color);
}

/*************
 * Functions *
 *************/

function {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7px 0px 7px 7px;
}

function:last-child {
    margin-right: 7px;
}

function::before {
    margin-bottom: auto;
    height: 20px;
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    padding: 2px 5px;
    border-radius: 15px 15px 0px 0px;
    background: var(--color);
    align-items: center;
    justify-content: center;
    content: attr(label);
    color: #505050;
}

/* This keeps the text vertically centered and hence in line. */
function::after {
    margin-top: auto;
    height: 20px;
    display: flex;
    padding: 2px 5px;
    content: attr(none);
}


/**********
 * Values *
 **********/

module[values]:active::before {
    position: absolute;
    display: flex;
    align-items: center;
    height: 12px;
    width: 100%;
    /* horizontally center */
    bottom: 100%;
    /* transform: translateY(-100%); */
    /* move to left */
    /*right: 100%;*/
    z-index: 1;
    /* basic styles */
    margin-right: 5px;
    padding: 0px 15px;
    box-shadow: 0 3px 10px black;
    border-radius: 25px;
    background: var(--color);
    content: attr(values);
    text-align: center;
    text-wrap: nowrap;
    font-size:smaller;
    color: black;
}


/*****************
 * Discontinuity *
 ****************/

module[next] {
    flex-grow: 1;
}

function[next]::before {     
    content: attr(label) ' …';
}

module[prev] {
    flex-grow: 1;
}

function[prev]::before {      
    content: '… ' attr(label);
}

function[prev][next]::before {   
    content: '… ' attr(label) ' …';
}

*:not([next]) > *[next] {
    flex-grow: 1;
}

*:not([prev]) > *[prev] {
    flex-grow: 1;
}