/**********
 * Colors *
 **********/

context {
    --color: var(--context-color);
}

[class ^= "speech_act"] {
    --color: var(--act-color);
}

[class ^= "predicating_act"] {
    --color: var(--pred_act-color);
}

[class ^= "generalization"] {
    --color: var(--gen-color);
}

[class ^= "event"] {
    --color: var(--event-color);
}

[class ^= "definition"] {
    --color: var(--def-color);
}

[class ^= "trait"] {
    --color: var(--trait-color);
}

[class ^= "intrinsic_collation"] {
    --color: var(--icoll-color);
}

[class ^= "circumstance"] {
    --color: var(--circ-color);
}

[class ^= "extrinsic_collation"] {
    --color: var(--ecoll-color);
}

[class ^= "entity"] {
    --color: var(--ent-color);
}

[class ^= "modal_predication"] {
    --color: var(--mod_pred-color);
}

[class ^= "non-modal_predication"] {
    --color: var(--nmod_pred-color);
}

[class ^= "scenario"] {
    --color: var(--scen-color);
}


/***********
 * Modules *
 ***********/

module,
module2 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

module:not(:last-child),
module2:not(:last-child) {
    margin-right: 5px;
}

/*************
 * Functions *
 *************/

function, function2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

*:hover > function, *:hover > function2 {    
    margin: 7px 0px 7px 7px;
}

*:hover > function:first-child, *:hover > function2:first-child {
    margin-left: 7px;
}

*:hover > function:last-child, *:hover > function2:last-child {
    margin-right: 7px;
}

*:hover > function::before, *:hover > function2::before {
    margin-bottom: auto;
    height: 20px;
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    padding: 2px 5px;
    border-radius: 15px 15px 0px 0px;
    background: var(--color);
    align-items: center;
    justify-content: center;
    content: attr(label);
    color: #505050;
}

*:hover > function > *, *:hover > function2 > * {
    margin: auto 0px;
}

*:hover > function::after, *:hover > function2::after {
    margin-top: auto;
    height: 20px;
    display: flex;
    padding: 2px 5px;
    content: attr(none);
}


/*************************
 * Borders & Box Shadows *
 *************************/

module {
    margin: 10px;
    box-shadow: 0 0 10px var(--color);
    border-radius: 20px;
}

/* To eliminate borders for particular module classes, usually because they are lexical and so words rather than wordings. */
[class ^= "process"],
[class ^= "name"],
[class ^= "category"],
[class ^= "intrinsic_qualitative_scale"],
[class ^= "extrinsic_qualitative_scale"] {
    border: none !important;
    box-shadow: none !important;
    margin: 0px !important;
}

module2 {    
    border-radius: 20px;
}

module2[class $= "+re-construal"], module2[class $= "+set"] {
    border: 2px dashed var(--color);
    margin: 5px;
}

module2[class $= "+connection"], module2[class $= "+operation"] {
    border: 2px dotted var(--color);
    margin: 5px;
}

module2[class $= "+action"], module2[class $= "+construal"] {
    border: 3px solid var(--color);
    margin: 5px;
}


/**********
 * Values *
 **********/

module[values]:active::before,
module2[values]:active::before {
    position: absolute;
    /* horizontally center */
    top: 50%;
    transform: translateY(-50%);
    /* move to left */
    right: 100%;
    /* basic styles */
    margin-right: 5px;
    padding: 15px;
    box-shadow: 0 3px 10px black;
    border-radius: 25px;
    background: var(--color);
    content: attr(values);
    text-align: center;
    white-space: pre-line;
    color: black;
}


/*****************
 * Discontinuity *
 ****************/

module[next],
module2[next] {
    align-self: stretch !important;
    border-radius: 20px 0px 0px 20px;    
}

module[prev],
module2[prev] {
    align-self: stretch !important;
    border-radius: 0px 20px 20px 0px;
}

module[next][prev],
module2[next][prev] {
    border-radius: 0px;
}

*:not([next]) > *[next] {
    align-self: stretch;
}

*:not([prev]) > *[prev] {
    align-self: stretch;
}