/*********************************
 * Wording Borders & Backgrounds *
 *********************************/

wording,
path,
ellipsis {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 7px 0px 7px 7px;
}

wording:first-child,
path:first-child,
ellipsis:first-child,
error:first-child {
    margin-left: 7px;
}

wording:last-child,
path:last-child,
ellipsis:last-child,
error:last-child {
    margin-right: 7px;
}

wording[class = "cluster"] {
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
}

wording[class = "cluster"][pinned] {
    border-radius: 25px 0px 0px 25px;
}

wording[class = "word"]:not([status = "core"]) {
    position: relative;
    border: 2px solid darkgray;
    border-radius: 25px;
    background-color: #e6e6e6;
}

wording[class = "word"][status = "core"] token {
    margin: 0px;
}

wording[class = "word"][status = "connective"] {
    border-radius: 25px;
}

wording[class = "word"][status = "translative"] {
    border-radius: 25px 0px 0px 25px;
}

wording[class = "word"][status = "junctive"] {
    border-radius: 0px;
}

path {
    position: relative;
    align-self: stretch;
    border: 1px solid black;
    border-radius: 10px;
    border-right: none;
    border-left: none;
    padding: 5px 0px;
}

path:first-child {
    margin-left: 15px;
}

path:last-child {
    margin-right: 15px;
}


/*******************
 * Function Labels *
 *******************/

wording[function]:hover:not(:active)::before,
path[function]:hover:not(:active)::before {
    display: flex;
    content: attr(function);
    position: absolute;
    /* horizontally center */
    left: 50%;
    transform: translateX(-50%);
    /* move to left */
    bottom: 100%;
    /* basic styles */
    padding: 10px;
    box-shadow: 0 3px 15px white;
    border-radius: 50px 50px 0px 0px;
    background: black;
    text-align: center;
    color: white;
}



/**********
 * Values *
 **********/

wording[values]:active::before,
path[values]:active::before {
    position: absolute;
    /* horizontally center */
    top: 50%;
    transform: translateY(-50%);
    /* move to left */
    right: 100%;
    /* basic styles */
    margin-right: 5px;
    padding: 15px;
    box-shadow: 0 3px 10px white;
    border: 1px solid white;
    border-radius: 25px;
    background: black;
    content: attr(values);
    text-align: center;
    white-space: pre-line;
    color: white;
}

error[note]:hover:not(:active)::before {
    position: absolute;
    /* horizontally center */
    top: 50%;
    transform: translateY(-50%);
    /* move to left */
    right: 100%;
    /* basic styles */
    margin-right: 5px;
    padding: 15px;
    box-shadow: 0 3px 10px white;
    border-radius: 25px;
    background: red;
    content: attr(note);
    text-align: center;
    white-space: pre-line;
    color: white;
}


/*****************
 * Discontinuity *
 ****************/

wording[class = "cluster"][next] {
    align-self: stretch !important;
    border-radius: 20px 0px 0px 20px;
    border-right-style: dashed;
}

wording[class = "cluster"][prev] {
    align-self: stretch !important;
    border-radius: 0px 20px 20px 0px;
    border-left-style: dashed;
}

wording[class = "cluster"][next][prev] {
    border-radius: 0px;
}

path[next] {
    border-radius: 10px 0px 0px 10px;
    border-width: 1px;
}

path[prev] {
    border-radius: 0px 10px 10px 00px;
    border-width: 1px;
}

*:not([next]) > *[next] {
    align-self: stretch;
}

*:not([prev]) > *[prev] {
    align-self: stretch;
}