/*********************************
 * Wording Borders & Backgrounds *
 *********************************/

wording,
ellipsis {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 10px 10px;
    padding: 3px 0px;
}

wording:last-child,
ellipsis:last-child,
error:last-child {
    margin-right: 10px;
}

wording[class = "cluster"] {
    position: relative;    
    flex-direction: row;
    border: 2px solid #cccccc;
    border-radius: 20px;   
}

wording[class = "cluster"][pinned] {
    border-radius: 25px 0px 0px 25px;
}

wording[class = "word"]:not([status = "core"]) {
    position: relative;
    border: 2px solid #D3D3D3;
    border-radius: 25px;
    background-color: #f2f2f2;
}

wording[class = "word"][status = "core"] > token {
    margin: 0px;
}

wording[class = "word"][status = "connective"] {
    border-radius: 25px;
}

wording[class = "word"][status = "translative"] {
    border-radius: 25px 0px 0px 25px;
}

wording[class = "word"][status = "junctive"] {
    border-radius: 0px;
}

wording[class = "path"] {
    position: relative;
    align-self: stretch;
    border: 1px solid #B8B8B8;
    border-radius: 10px;
    border-right: none;
    border-left: none;
    padding: 5px 0px;
}

wording[class = "path"]:first-child {
    margin-left: 10px;
}

wording[class = "path"]:last-child {
    margin-right: 10px;
}


/*******************
 * Function Labels *
 *******************/

wording[subclass]:hover {
    border-top: none;
    padding: 15px 0px;
}

wording[subclass]:hover:not(:active)::before {
    position: absolute;
    /* horizontally center */
    transform: translateY(100%);
    /* move to left */
    bottom: 100%;
    content: attr(subclass);   
    width: 100%;
    height: 15px;
    border-radius: 20px 20px 0px 0px;
    background: #cccccc;
    text-align: center;
    font-size: smaller;
    color: black;
}

wording[subclass][prev]:hover::before {
    border-radius: 0px 20px 0px 0px;
}

wording[subclass][next]:hover::before,
wording[subclass][pinned]:hover::before {
    border-radius: 20px 0px 0px 0px;
}

wording[subclass][prev][next]:hover::before {
    border-radius: 0px;
}

/**********
 * Values *
 **********/

wording[values]:active::before {
    position: absolute;
    max-width: 200px;
    /* horizontally center */
    top: 50%;
    transform: translateY(-50%);
    /* move to left */
    right: 100%;
    /* basic styles */
    margin-right: 5px;
    padding: 15px;
    box-shadow: 0 3px 10px white;
    border: 1px solid white;
    border-radius: 25px;
    background: black;
    content: attr(values);
    text-align: center;
    white-space: pre-line;
    color: white;
}

error[note]:hover::before {
    position: absolute;
    /* horizontally center */
    top: 50%;
    transform: translateY(-50%);
    /* move to left */
    right: 100%;
    /* basic styles */
    margin-right: 5px;
    padding: 15px;
    box-shadow: 0 3px 10px white;
    border-radius: 25px;
    background: red;
    content: attr(note);
    text-align: center;
    white-space: pre-line;
    color: white;
}


/*****************
 * Discontinuity *
 ****************/

 /* Discontinuous wordings need to fill the vertical space, so they are visually aligned as having the same height. */
wording[class = "cluster"][next] {
    flex-grow: 1;
    border-radius: 20px 0px 0px 20px;
    border-right-style: dashed;
}

wording[class = "cluster"][prev] {
    flex-grow: 1;
    border-radius: 0px 20px 20px 0px;
    border-left-style: dashed;
}

wording[class = "cluster"][next][prev] {
    flex-grow: 1;
    border-radius: 0px;
}

wording[class = "path"][next] {
    border-radius: 10px 0px 0px 10px;
    border-width: 1px;
}

wording[class = "path"][prev] {
    border-radius: 0px 10px 10px 00px;
    border-width: 1px;
}

*:not([next]) > *[next] {
    align-self: stretch;
}

*:not([prev]) > *[prev] {
    align-self: stretch;
}